$breakpoint-small: 440px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

.cart-display {
  margin-top: 0  ;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
  max-height: 100vh; 
  flex: 1.5; 
  width: 400px; 
  border: 2px solid rgb(155, 155, 155);
  border-radius: 20px;
  h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 12px;
  }
@media (max-width:$breakpoint-small) {
  flex: 1; 
}
  .cart-item {
    border-bottom: 1px solid #000;
    padding: 8px; 
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #000;

    h3 {
      font-size: 13px;
      color: black;
      margin-bottom: 8px;
      // margin-left: auto;
    }

    .quantity-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      margin-right: 1.2rem;

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 0.3rem; 
        cursor: pointer;
        transition: background-color 0.3s;
        height: 1.2rem; /* Smaller height */
        font-size: 12px; /* Smaller font size */
        
        &:hover {
          background-color: #0056b3;
        }
      }

      span {
        margin: 0 8px; /* Reduced margin */
        font-size: 12px; /* Smaller font size */
        font-weight: bold;
      }
    }

    p {
      font-size: 12px; /* Smaller font size */
      margin-bottom: 4px;
      margin-right: 10px;
    }

    .total-price {
      font-size: 14px; /* Smaller font size */
      font-weight: bold;
      margin-right: 10px;
    }

    button {
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 6px 8px; /* Reduced padding */
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  .total {
    margin-top: 16px;
    font-size: 18px; /* Slightly smaller font size */
    font-weight: bold;
    color: #c82333;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Reduced gap */

    .print-bill, .clear-cart {
      margin-top: 16px;
      display: flex;
      flex-direction: row;

      button {
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px; /* Reduced padding */
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }

    .print-bill button {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }

    .clear-cart button {
      background-color: #a72a28;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
